* {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	font-size: 62.5%;
	font-family: "Paralucent", Helvetica, Arial, sans-serif;
	color: #2b3840;
}
.wrapper {
	font-size: 1.6em;
	padding: 2em;
	margin: 0 auto;
	width: 768px;
	background-color: gray;
}
/******************/
/* Top Navigation */
/******************/
body div aside {
	background-color: #003759;
	padding: 18px auto;
	width: 705px;
}
.tn-list{
	display: inline-block;
}
#logo{
	margin: auto 115px auto 6px;
	display: inline-block;
}
.tn-item{
	height: 15.1px;
	list-style-type: none;
	margin-right: 5px;
	margin-bottom: 8px;
	margin-top: 8px;
	display: inline-block;
	font-size: 15px;
	color: white;
	float: center;
}
#onboard{
	display: inline-block;
	margin-left: 50px;
}
.fifth-tn {
	display: inline-block;
	margin-right: 2px;
}
/****************/
/***** Hero *****/
/****************/
#main-header{
	text-align: center;
}
#hero-txt{
	display: inline;
	font-size: 1.2em;
	text-align: center;
}
header {
	background-image: url(../images/hero_768.png);
	width: 705px;
	height: 300px;
	padding-top: 65px;
	background-repeat: no-repeat;
	background-position: 30% 120%;
	background-size: 705px 300px;
}
.button{
	border-radius: 8px;
	background-color: #0acc9f;
	padding: 5px 18px;
	color: white;
	margin-bottom: 10px;
	font-size: 15px;
}
.subscribe-span{
	margin-top: 40px;
	display: block;
}
h1{
	font-size: 36px;
	color: #ffffff;
}
h2{
	font-size: 20px;
	font-weight: 500;
	color: #ffffff;
}
h3{
	font-size: 15px;
	font-family: "DagnyPro", Helvetica, Arial, sans-serif;
	font-weight: normal;
	color: #ffffff;
}
/*****************/
/***** Links *****/
/*****************/
.large{
	display: none;
}
.link{
	display: inline-block;
	margin: 15px auto;
}
.first-link{
	text-align: center;
	margin-left: 26px;
}
.second-link{
	text-align: center;
	margin-left: 125px;
}
.third-link{
	text-align: center;
	margin-left: 100px;
}
.link-title{
	padding-top: 10px;
	font-size: 15px;
}
.medium{
	display: inline-block;
}
/********************/
/***** Benefits *****/
/********************/
.benefits{
	display: block;
}
.first-benefits-txt{
	text-align: center;
	display: block;
	margin: 140px 130px 5px 150px;
}
.second-benefits-txt{
	text-align: center;
	display: inline-block;
	margin: 100px auto 50px 50px;
}
.third-benefits-txt{
	text-align: center;
	display: block;
	margin: 0px 130px 5px 150px;
}
/*
.first-benefits-img{
	margin: auto auto auto 1px;
}
.second-benefits-img{
	margin: auto auto auto 85px;
}
.third-benefits-img{
	margin: auto auto auto 120px;
}
*/
.first-benefits-img-768{
	margin: auto auto auto 1px;
}
.second-benefits-img-768{
	margin: auto 70px auto 118px;
}
.third-benefits-img-768{
	margin: auto auto auto 1px;
}
.first-benefit{
	display: inline-block;
}
.second-benefit{
	display: inline-block;
}
.third-benefit{
	display: inline-block;
}
.benefits-title{
	font-size: 15px;
	margin-bottom: 10px;
}
.benefits-description{
	font-family: "DagnyPro", Helvetica, Arial, sans-serif;
	font-size: 15px;
	color: #676B6D;
}
.large{
	display: none;
}
/************************/
/***** Testimonials *****/
/************************/
.testimonials-block{
	background-color: #4C616E;
	width: 1280px;
	padding: 66px 45px;
}
.testimonials{
	display: inline-block;
	color: #ffffff;
	text-align: center;
	margin: auto 20px;
}
.testimonials-person{
	font-family: "Paralucent", Helvetica, Arial, sans-serif;
	font-size: 20px;
	font-weight: 500px;

}
.testimonials-title{
	font-family: "DagnyPro", Helvetica, Arial, sans-serif;
	font-size: 18px;
	font-weight: normal;
}
.testimonials-quote{
	font-family: "DagnyPro", Helvetica, Arial, sans-serif;
	font-size: 15px;
	font-weight: 500px;
}
.first-testimonial{
	margin-left: 65px;
	margin-right: 60px;
}
.second-testimonial{

}
.third-testimonial{
	margin-left: 60px;
	margin-right: 65px;
}
/************************/
/***** CTA Footer *******/
/************************/
.cta-block{
	height: 524px;
	width: 1280px;
	background-image: url(../images/footer-cta.png);
	text-align: center;
	padding-top: 160px; 
}
#cta-txt{
	font-family: "Paralucent", Helvetica, Arial, sans-serif;
	font-size: 40px;
	font-weight: 500;
	color: white;
}
/************************/
/******* Footer *********/
/************************/
.footer {
	background-color: #003759;
	padding: 18px auto;
	width: 1280px;
}
.footer-list{
	display: inline-block;
	margin: auto 100px auto 40px;
}
#logo-footer{
	margin: auto 310px auto 120px;
	display: inline-block;
}
.footer-item{
	height: 15.1px;
	list-style-type: none;
	margin-right: 10px;
	margin-bottom: 20px;
	margin-top: 20px;
	display: inline-block;a
	font-size: 1.1em;
	color: white;
	float: center;
}
.copyright{
	display: inline-block;
	color: white;
}
