/********************************************************************/

/************************ 1910 Media Query **************************/

/********************************************************************/
 @media (min-width: 1910px) {
/*******************************************/
/****************** Wrapper ****************/
/*******************************************/
* {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	font-size: 62.5%;
	font-family: "Paralucent", Helvetica, Arial, sans-serif;
	color: #2b3840;
}
.wrapper {
	font-size: 1.6em;
	width: 100%;
	padding: 0;
	margin: 0 auto;
	background-color: white;
}
.twelve-eighty{
	display:none;
}
/*******************************************/
/**************** GRID *********************/
/*******************************************/
 .container {
   margin-right: auto;
   margin-left: auto;
   padding-left: 15px;
   padding-right: 15px;
   position: relative;
 }
 .container:before,
 .container:after {
   content: " ";
   display: table;
 }
 .container:after {
   clear: both;
 }
 .one-half, .one-third, .one-fourth {
   width:96%;
   float:left;
   position:relative;
   min-height: 1px;
   margin:0 2% 20px;
 }
/*******************************************/
/************** Top Navigation *************/
/*******************************************/
header{
	width: 100%;
	height: 659px;
}
header nav{
	width: 100%;
	background-color: #003759; 
	padding: 1em 0;
}
header nav div{
	display: inline;
}
 header nav ul > li{
	list-style-type: none;
	display: inline-block;
	margin: 0 15px;
	font-size: 18px;
}
 header nav img{
	width: 43px;
	height: 25px;
	display: inline-block;
	margin: 0 5px;
	position: relative;
}
 header nav ul > li > a {
   color:#FFFFFF;
   text-decoration: none;
 }
 .site-logo {
 	color: white;
 	font-family: "Paralucent", Helvetica, Arial, sans-serif;
 	font-size: 40px;
 	list-style-type: none;
 	font-weight: bold;
 	margin: 0 10px;
 	display: inline-block;
 	text-decoration: none;
 	position: relative;
	top: 1px;
	width: 200px;
 }
	header nav ul{
	display: inline-block;
	text-align: center;
	margin: 0 6px;
	position: relative;
	top: 12px;
	/*background-color: red; */
}
.features{
	width:50px;
}
.onboard{
	width:55px;
	text-align: right;
	margin-right: 1px;
}
.one-third{
/*	background-color: black; */
	width: 30%;
}
.hamburger{
	display:none;
}
/*******************************************/
/**************** Hero *********************/
/*******************************************/
header .hero{
	width: 100%;
	text-align: center;
	display: block;
	position: relative;
	/*background-color: blue;*/
	background-image: url("../images/hero-1920.png");
	height: 600px;
	background-repeat: repeat-x;
	background-position: 50% 0%;

}
header .hero h1{
	width: 250px;
	height: 73px;
	font-family: "Paralucent", Helvetica, Arial, sans-serif;
	font-size: 75px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #ffffff;
	/*background-color: gray;*/
	display: inline-block;
	margin-top: 105px;
	margin-bottom: 20px;
}
header .hero h2{
	font-family: "Paralucent", Helvetica, Arial, sans-serif;
	font-size: 40px;
	color: #FFFFFF;
	font-weight: normal;
	display: inline-block;
	margin-bottom: 10px;
}
header .hero p{
	width: 478px;
	height: 22px;
	font-family: "DagnyPro", Helvetica, Arial, sans-serif;
	font-size: 18px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: #ffffff;
	/*background-color: black;*/
	display: inline-block;
}
header .hero .hero-txt{
	width: 600px;
	height: 400px;
	text-align: center;
	display: inline-block;
	position: relative;
	/*background-color: black;*/
	height: 600px;
}
.btn {
	display: inline-block;
	text-align: center;
	width: 206px;
	height: 47px;
   border-radius: 4px;
   color:#FFFFFF;
   font-weight: 700;
   text-decoration: none;
   padding:10px 30px;
   background: #0acc9f;
   border: 2px solid #0acc9f;
   box-shadow: 0px 2px 0px 0px #22894E;
   margin: 150px auto;
 }
/*******************************************/
/***************** Links *******************/
/*******************************************/
.links{
   text-align: center;
   display: block;
   position: relative;
   margin-top: 105px;
   width: 100%;
   margin-left: 40px;
}
 .links  .link{
 	width: 30%;
   margin: 0 20px;
   padding: 0px 1px;
/*  background-color: black;  */
    display: inline-block;
 }
  .links  .link a{
   list-style-type: none;
 }
 .link-title{
	font-family: "Paralucent", Helvetica, Arial, sans-serif;
	font-size: 25px;
	font-weight: 500;
	color: #2b3840;
 }
/*******************************************/
/**************** Benefits *****************/
/*******************************************/
.benefits{
	display: block;
	position:relative;
	top: 20px;
}
.benefits  .benefit{
 	width: 46%;
 	height: 327px;
    padding: 75px 1px;
    margin-left: 5px;
    margin-right: 30px;
    margin-top: 100px;
     /*background-color: blue;*/
    display: inline-block;
    position: relative;
    left: 380px;
 }
.benefits .benefit-img{
 	width: 	553px;
 	position: relative;
 	bottom: 75px;
 	right: 265px;
 }
 .benefits .second-benefit{
 	width: 	46%;
 	position: relative;
 	bottom: 0px;
 	right: 265px;
 	/*
 	width: 	45%;		
	height: 327px;
    margin: 100px 5px;
    padding: 75px 1px;
    background-color: brown; 
    display: inline-block;
    position:relative;
 	right: 400px;*/
 }
 .benefits .second-img{
 	width: 553px
    margin-left: 750px;
    background-color: blue;
    display: inline-block;
    position: relative;
    left: 8px;
 	/*
 	width: 553px;
 	margin-left: 30px;
    margin-right: 5px;
    position:relative;
    left:320px;
    top: 0px;*/
  }
 .benefits .third-benefit{
 	width: 45%;
 	height: 327px;
    padding: 75px 1px;
 	/*background-color: gray;*/
 	margin-left: 5px;
 	margin-right: 30px;
 	display: inline-block;
 	position: relative;
    left: 380px;

 }
 .benefits .third-img{
 	width: 553px;
 	position: relative;
 	bottom: 75px;
 	right: 230px;
 }
  .benefits  .benefit h2{
 	font-family: "Paralucent", Helvetica, Arial, sans-serif;
	font-size: 25px;
	font-weight: 500;
	color: #2b3840;
	margin-bottom: 10px;
 }
  .benefits  .benefit p{
 	font-family: "DagnyPro", Helvetica, Arial, sans-serif;
	font-size: 25px;
	color: #676b6d;
	width: 501px;
	height: 124px;
	margin-right: 20px;
 }
 .one-half{
 	/*background-color: black;*/
 	width: 46%;
	height: 327px;
    margin: 100px 5px;
    margin-left: 10px;
    padding: 0px 18px;
    display: inline-block;
 }
#offset {
 /*	background-color: black; */
 	width: 46%;
	height: 327px;
    margin: 100px 5px;
    margin-left: -180px;
    padding: 75px 1px;
    display: inline-block;
 }
/*******************************************/
/************ Testimonials *****************/
/*******************************************/
.testimonials{
   text-align: center;
   display: inline-block;
   position: relative;
   	width: 100%;
	height: 300px;
	background-color: #4c616e;
	margin:0px;
	margin-top: 40px;
	padding:0px;
	top: 20px;
}
 .testimonials  .testimonial{
 	width: 30%;
   margin: 85px 30px;
   padding: 0px 18px;
 /* background-color: black; */
    display: inline-block;
 }
   .testimonials  .testimonial ul{
   list-style-type: none;
   position: relative;

 }
 .testimonial-txt{
 	color:white;
 }
  .testimonial-txt h4{
 	font-family: "Paralucent", Helvetica, Arial, sans-serif;
	font-size: 20px;
	font-weight: 500;
	margin: 10px auto;
 }
  .testimonial-txt p{
 	font-family: "DagnyPro", Helvetica, Arial, sans-serif;
	font-size: 15px;
	margin: 10px auto;
 }
/*******************************************/
/************ CTA Footer *******************/
/*******************************************/
footer .cta{
	text-align: center;
	display: block;
	position: relative;
	/*background-color: blue;*/
	background-image: url("../images/footer-cta-1920.png");
	height: 525px;
	width: 100%;
	background-repeat: repeat-x;
	background-position: 50% 0%;
	margin: 0;
	padding: 0;
	top:10px;
}
footer .cta h1{
	width: 600px;
	height: 40px;
	font-family: Paralucent;
	font-size: 48px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #ffffff;
	/*background-color: gray;*/
	display: inline-block;
	text-align:center;
	margin-top: 170px;
}
footer .cta .btn{
	margin-bottom: 50px;
	background: black;
	display: block;
	text-align: center;
	width: 206px;
	height: 47px;
   border-radius: 4px;
   color:#FFFFFF;
   font-weight: 700;
   text-decoration: none;
   padding:10px 30px;
   background: #0acc9f;
   border: 2px solid #0acc9f;
   box-shadow: 0px 2px 0px 0px #22894E;
   margin: 150px auto;
}
/*******************************************/
/*************** Footer ********************/
/*******************************************/
footer{
	width: 100%;
	height: 600px;
	margin-bottom: 0px;
}
footer nav{
	width: 100%;
	background-color: #003759; 
	padding: 1em 0;
	margin-bottom: 0px;
}
footer nav div{
	display: inline;
}
 footer nav ul > li{
	list-style-type: none;
	display: inline-block;
	margin: 0 15px;
	font-size: 18px;
}
 footer nav img{
	width: 43px;
	height: 25px;
	display: inline-block;
	margin: 0 5px;
	position: relative;
	
}
 footer nav ul > li > a {
   color:#FFFFFF;
   text-decoration: none;
 }
 .site-logo-footer {
 	color: white;
 	font-family: "Paralucent", Helvetica, Arial, sans-serif;
 	font-size: 40px;
 	list-style-type: none;
 	font-weight: bold;
 	margin: 0 10px;
 	display: inline-block;
 	text-decoration: none;
 	position: relative;
	top: 1px;
	left:0px;
	width: 200px;
 }
	footer nav ul{
	display: inline-block;
	text-align: center;
	margin: 0 300px;
	position: relative;
	top: 12px;
	/*background-color: black;*/
	left: 30px;
}
.one-third{
	/*background-color: black;*/
	width: 30%;
}
#copyright{
	margin: 0 10px 0 230px;
	width: 360px;
	text-align: center;
	display: inline-block;
	color: white;
	font-size: 18px;
}
}