/********************************************************************/

/************************* 320 Media Query **************************/

/********************************************************************/
 @media (max-width: 320px){
/*******************************************/
/**************** Hero *********************/
/*******************************************/
header .hero{
	width: 100%;
	text-align: center;
	display: block;
	position: relative;
	background-image: linear-gradient(-180deg, #26A6D2 0%, #116DA5 100%);
	height: 400px;
	background-repeat: repeat-x;
	background-position: 50% 0%;

}
header .hero h1{
	width: 400px;
	height: 73px;
	font-family: "Paralucent", Helvetica, Arial, sans-serif;
	font-size: 48px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #ffffff;
	display: inline-block;
	margin-top: 105px;
	margin-bottom: -10px;
	position: relative;
	text-align: center;
	background-color: black;
}
header .hero h2{
	font-family: "Paralucent", Helvetica, Arial, sans-serif;
	font-size: 24px;
	color: #FFFFFF;
	font-weight: normal;
	display: inline-block;
	margin-bottom: 10px;
	position: relative;
	text-align: center;
	background-color: black;
}
header .hero p{
	width: 478px;
	height: 22px;
	font-family: "DagnyPro", Helvetica, Arial, sans-serif;
	font-size: 15px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: #ffffff;
	display: inline-block;
	position: relative;
	text-align: center;
	background-color: black;
}
header .hero .hero-txt{
	width: 600px;
	height: 400px;
	text-align: center;
	display: inline-block;
	position: relative;
	/*background-color: black;*/
	height: 600px;
}
.btn {
	display: inline-block;
	text-align: center;
	width: 206px;
	height: 47px;
   border-radius: 4px;
   color:#FFFFFF;
   font-weight: 700;
   text-decoration: none;
   padding:10px 30px;
   background: #0acc9f;
   border: 2px solid #0acc9f;
   box-shadow: 0px 2px 0px 0px #22894E;
   margin: 50px auto;
 }


 }