* {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	font-size: 62.5%;
	font-family: "Paralucent", Helvetica, Arial, sans-serif;
	color: #2b3840;
}
.wrapper {
	font-size: 1.6em;
	width: 100%;
	padding: 0;
	margin: 0 auto;
	background-color: white;
}
/**************/
/**** GRID ****/
/**************/
 .container {
   margin-right: auto;
   margin-left: auto;
   padding-left: 15px;
   padding-right: 15px;
   position: relative;
 }
 .container:before,
 .container:after {
   content: " ";
   display: table;
 }
 .container:after {
   clear: both;
 }
 .one-half, .one-third, .one-fourth {
   width:96%;
   float:left;
   position:relative;
   min-height: 1px;
   margin:0 2% 20px;
 }
/******************/
/* Media Queries  */
/******************/
/*
 @media (min-width: 768px) {
   .container {
     width: 750px;
   }
 }
 @media (min-width: 992px) {
   .container {
     width: 970px;
   }
   .one-half {
     width:46%;
   }
   .one-third {
     width:29.33333%;
   }
   .one-fourth {
     width:21%;
   }
 }
 @media (min-width: 1200px) {
   .container {
     width: 1170px;
   }
 }
 */
/******************/
/* Top Navigation */
/******************/
header{
	width: 100%;
	height: 659px;
}
header nav{
	width: 100%;
	background-color: #003759; 
	padding: 1em 0;
}
header nav div{
	display: inline;
}
header nav ul{
	display: inline;
	text-align: right;
	float: right;
	margin: 0;
	position: relative;
	bottom: 17px;
}
header nav ul > li{
	list-style-type: none;
	display: inline-block;
	margin: 0 15px;
	font-size: 25px;
}
.fourth-tn{
	margin-right: 410px;
}
header nav img{
	width: 43px;
	height: 25px;
	display: inline-block;
	margin: 0 5px;
	position: relative;
	
}
header nav ul > li > a {
   color:#FFFFFF;
   text-decoration: none;
 }
 .site-logo {
 	color: white;
 	font-family: "Paralucent", Helvetica, Arial, sans-serif;
 	font-size: 40px;
 	list-style-type: none;
 	font-weight: bold;
 	margin: 0 10px;
 	display: inline-block;
 	text-decoration: none;
 	position: relative;
	top: 28px;
 }
/********************/
/******* Hero *******/
/********************/
header .hero{
	text-align: center;
	display: block;
	position: relative;
	/*background-color: blue;*/
	background-image: url("../images/hero-1920.png");
	height: 600px;
	background-repeat: repeat-x;
	background-position: 50% 0%;

}
header .hero h1{
	width: 250px;
	height: 73px;
	font-family: "Paralucent", Helvetica, Arial, sans-serif;
	font-size: 75px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #ffffff;
	/*background-color: gray;*/
	display: inline-block;
	margin-top: 105px;
	margin-bottom: 20px;
}
header .hero h2{
	font-family: "Paralucent", Helvetica, Arial, sans-serif;
	font-size: 40px;
	color: #FFFFFF;
	font-weight: normal;
	display: inline-block;
	margin-bottom: 10px;
}
header .hero p{
	width: 478px;
	height: 22px;
	font-family: DagnyPro;
	font-size: 18px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: #ffffff;
	/*background-color: black;*/
	display: inline-block;
}
header .hero .hero-txt{
	width: 600px;
	height: 400px;
	text-align: center;
	display: inline-block;
	position: relative;
	/*background-color: black;*/
	height: 600px;
}
.btn {
	display: inline-block;
	text-align: center;
	width: 206px;
	height: 47px;
   border-radius: 4px;
   color:#FFFFFF;
   font-weight: 700;
   text-decoration: none;
   padding:10px 30px;
   background: #0acc9f;
   border: 2px solid #0acc9f;
   box-shadow: 0px 2px 0px 0px #22894E;
   margin: 150px auto;
 }
/*****************/
/***** Links *****/
/*****************/
.links{
   text-align: center;
   display: block;
   position: relative;
   left: 3.7%;
   margin-top: 105px;
}
 .links  .link{
 	width: 550px;
   margin: 0 20px;
   padding: 0px 18px;
  /* background-color: gray; */
    display: inline-block;
 }
  .links  .link a{
   list-style-type: none;
 }
 .link-title{
	font-family: Paralucent;
	font-size: 25px;
	font-weight: 500;
	color: #2b3840;
 }
/********************/
/***** Benefits *****/
/********************/
.benefits{
	display: block;
	position:relative;
	top: 20px;
}
.benefits  .benefit{
 	width: 575px;
 	height: 327px;
   padding: 100px 1px;
   margin-left: 300px;
   margin-right: 50px;
   margin-top: 100px;
  /*background-color: blue;*/
    display: inline-block;
 }
.benefits .benefit-img{
 	width: 553px;
	height: 327px;
   margin: 100px 175px;
   padding: 0px 18px;
  /*background-color: brown;*/ 
    display: inline-block;
 }
 .benefits  .benefit h2{
 	font-family: "Paralucent", Helvetica, Arial, sans-serif;
	font-size: 25px;
	font-weight: 500;
	color: #2b3840;
	margin-bottom: 10px;
 }
  .benefits  .benefit p{
 	font-family: "DagnyPro", Helvetica, Arial, sans-serif;
	font-size: 25px;
	color: #676b6d;
	width: 501px;
	height: 124px;
	margin-right: 20px;
 }
 .benefits .second-benefit{
 	width: 575px;
 	height: 327px;
    padding: 100px 1px;
 	/*background-color: gray;*/
 	margin-left: 270px;
 	margin-right: 10px;
 	 display: inline-block;
 }
 .benefits .second-img{
 	width: 553px;
	height: 327px;
   margin: 100px auto;
   padding: 0px 18px;
  /*background-color: brown;*/ 
    display: inline-block;
    margin-left: 285px;
 }
  .benefits .third-benefit{
 	margin-left: -375px;
 	position: relative;
 	right: 160px;
 }
 .benefits .third-img{
 	margin-left: 30px;
 	margin-right: 200px;
 }
/************************/
/***** Testimonials *****/
/************************/
.testimonials{
   text-align: center;
   display: inline-block;
   position: relative;
   	width: 100%;
	height: 300px;
	background-color: #4c616e;
	margin:0px;
	padding:0px;
	top: 20px;
}
 .testimonials  .testimonial{
 	width: 550px;
   margin: 85px 25px;
   padding: 0px 18px;
  /*background-color: gray;*/ 
    display: inline-block;
 }
   .testimonials  .testimonial ul{
   list-style-type: none;
   position: relative;
   left: 30px;
 }
 .testimonial-txt{
 	color:white;
 }
  .testimonial-txt h4{
 	font-family: "Paralucent", Helvetica, Arial, sans-serif;
	font-size: 20px;
	font-weight: 500;
	margin: 10px auto;
 }
  .testimonial-txt p{
 	font-family: "DagnyPro", Helvetica, Arial, sans-serif;
	font-size: 15px;
	margin: 10px auto;
 }
/************************/
/***** CTA Footer *******/
/************************/
footer .cta{
	text-align: center;
	display: block;
	position: relative;
	/*background-color: blue;*/
	background-image: url("../images/footer-cta-1920.png");
	height: 525px;
	width: 100%;
	background-repeat: repeat-x;
	background-position: 50% 0%;
	margin: 0;
	padding: 0;
	top:10px;
}
footer .cta h1{
	width: 600px;
	height: 40px;
	font-family: Paralucent;
	font-size: 48px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #ffffff;
	/*background-color: gray;*/
	display: inline-block;
	text-align:center;
	margin-top: 170px;
}
footer .cta .btn{
	margin-bottom: 50px;
	background: black;
	display: block;
	text-align: center;
	width: 206px;
	height: 47px;
   border-radius: 4px;
   color:#FFFFFF;
   font-weight: 700;
   text-decoration: none;
   padding:10px 30px;
   background: #0acc9f;
   border: 2px solid #0acc9f;
   box-shadow: 0px 2px 0px 0px #22894E;
   margin: 150px auto;
}
/************************/
/******* Footer *********/
/************************/
footer{
	width: 100%;
	height: 659px;
}
footer nav{
	width: 100%;
	background-color: #003759; 
	padding: 5px 0;
}
footer nav div{
	display: inline;
}
footer nav ul{
	display: inline;
	text-align: left;
	float: left;
	margin: 0;
	position: relative;
	top: 60px;
}
footer nav ul > li{
	list-style-type: none;
	display: inline-block;
	margin: 0 15px;
	margin: 0 15px;
	font-size: 25px;
}
footer nav img{
	width: 43px;
	height: 25px;
	display: inline-block;
	margin: 0 790px;
	margin-right: 5px;
	position: relative;
	/*background-color: blue;*/
}
footer nav ul > li > a {
   color:#FFFFFF;
   text-decoration: none;
   display: inline-block;
   /*background-color: gray;*/
 }
#copyright{
	display: inline;
	text-align: right;
	float: right;
	margin: 0;
	position: relative;
	color: white;
	bottom: 45px;
	right:20px;
	font-size: 25px;
}
.site-logo-footer{
	position: relative;
	color: white;
 	font-family: "Paralucent", Helvetica, Arial, sans-serif;
 	font-size: 40px;
 	list-style-type: none;
 	font-weight: bold;
 	margin: 0 10px;
 	display: inline-block;
 	text-decoration: none;
 	
 }
}
